<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>black-rock-city</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>black-rock-city-back</string>
			<key>bottom</key>
			<string>black-rock-city-bottom</string>
			<key>front</key>
			<string>black-rock-city-front</string>
			<key>left</key>
			<string>black-rock-city-left</string>
			<key>right</key>
			<string>black-rock-city-right</string>
			<key>top</key>
			<string>black-rock-city-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Black Rock City</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>cloud-gate</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>cloud-gate-back</string>
			<key>bottom</key>
			<string>cloud-gate-bottom</string>
			<key>front</key>
			<string>cloud-gate-front</string>
			<key>left</key>
			<string>cloud-gate-left</string>
			<key>right</key>
			<string>cloud-gate-right</string>
			<key>top</key>
			<string>cloud-gate-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Cloud Gate</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>emirates-palace-hotel-atrium</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>emirates-palace-hotel-atrium-back</string>
			<key>bottom</key>
			<string>emirates-palace-hotel-atrium-bottom</string>
			<key>front</key>
			<string>emirates-palace-hotel-atrium-front</string>
			<key>left</key>
			<string>emirates-palace-hotel-atrium-left</string>
			<key>right</key>
			<string>emirates-palace-hotel-atrium-right</string>
			<key>top</key>
			<string>emirates-palace-hotel-atrium-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Emirates Palace Hotel - Atrium</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>emirates-palace-hotel-fountains</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>emirates-palace-hotel-fountains-back</string>
			<key>bottom</key>
			<string>emirates-palace-hotel-fountains-bottom</string>
			<key>front</key>
			<string>emirates-palace-hotel-fountains-front</string>
			<key>left</key>
			<string>emirates-palace-hotel-fountains-left</string>
			<key>right</key>
			<string>emirates-palace-hotel-fountains-right</string>
			<key>top</key>
			<string>emirates-palace-hotel-fountains-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Emirates Palace Hotel - Fountains</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>golden-gate-bridge</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>golden-gate-bridge-back</string>
			<key>bottom</key>
			<string>golden-gate-bridge-bottom</string>
			<key>front</key>
			<string>golden-gate-bridge-front</string>
			<key>left</key>
			<string>golden-gate-bridge-left</string>
			<key>right</key>
			<string>golden-gate-bridge-right</string>
			<key>top</key>
			<string>golden-gate-bridge-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Golden Gate Bridge</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>75</integer>
			<key>min</key>
			<real>-75</real>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>initialPanorama</key>
	<integer>5</integer>
	<key>lloyds-building</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>lloyds-building-back</string>
			<key>bottom</key>
			<string>lloyds-building-bottom</string>
			<key>front</key>
			<string>lloyds-building-front</string>
			<key>left</key>
			<string>lloyds-building-left</string>
			<key>right</key>
			<string>lloyds-building-right</string>
			<key>top</key>
			<string>lloyds-building-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Lloyd's Building</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>maughan-library</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>maughan-library-back</string>
			<key>bottom</key>
			<string>maughan-library-bottom</string>
			<key>front</key>
			<string>maughan-library-front</string>
			<key>left</key>
			<string>maughan-library-left</string>
			<key>right</key>
			<string>maughan-library-right</string>
			<key>top</key>
			<string>maughan-library-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Maughan Library</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>mosque-exterior</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>mosque-exterior-back</string>
			<key>bottom</key>
			<string>mosque-exterior-bottom</string>
			<key>front</key>
			<string>mosque-exterior-front</string>
			<key>left</key>
			<string>mosque-exterior-left</string>
			<key>right</key>
			<string>mosque-exterior-right</string>
			<key>top</key>
			<string>mosque-exterior-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Sheikh Zayed Mosque Exterior</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>mosque-interior</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>mosque-interior-back</string>
			<key>bottom</key>
			<string>mosque-interior-bottom</string>
			<key>front</key>
			<string>mosque-interior-front</string>
			<key>left</key>
			<string>mosque-interior-left</string>
			<key>right</key>
			<string>mosque-interior-right</string>
			<key>top</key>
			<string>mosque-interior-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Sheikh Zayed Mosque Interior</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>panoramaList</key>
	<array>
		<string>mosque-interior</string>
		<string>mosque-exterior</string>
		<string>golden-gate-bridge</string>
		<string>emirates-palace-hotel-fountains</string>
		<string>emirates-palace-hotel-atrium</string>
		<string>maughan-library</string>
		<string>lloyds-building</string>
		<string>cloud-gate</string>
		<string>queens-walk</string>
		<string>black-rock-city</string>
	</array>
	<key>queens-walk</key>
	<dict>
		<key>cubeFaces</key>
		<dict>
			<key>back</key>
			<string>queens-walk-back</string>
			<key>bottom</key>
			<string>queens-walk-bottom</string>
			<key>front</key>
			<string>queens-walk-front</string>
			<key>left</key>
			<string>queens-walk-left</string>
			<key>right</key>
			<string>queens-walk-right</string>
			<key>top</key>
			<string>queens-walk-top</string>
		</dict>
		<key>fov</key>
		<dict>
			<key>current</key>
			<integer>55</integer>
			<key>max</key>
			<integer>90</integer>
			<key>min</key>
			<integer>15</integer>
		</dict>
		<key>name</key>
		<string>Queen's Walk</string>
		<key>pan</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10000000</integer>
			<key>min</key>
			<integer>-10000000</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
		<key>tilt</key>
		<dict>
			<key>current</key>
			<integer>0</integer>
			<key>delta</key>
			<real>1</real>
			<key>max</key>
			<integer>88</integer>
			<key>min</key>
			<integer>-88</integer>
			<key>scaleMax</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
